@use 'mixin' as *;

// Anchos base
.collage-card { width: clamp(240px, 28vw, 420px); }
.collage-center { width: clamp(260px, 32vw, 460px); }
.collage-left, .collage-right { width: clamp(220px, 26vw, 360px); }

// Espaciado en móvil
.collage { gap: 12px; }

// Efecto superpuesto desde tablet. estes collage lo uso en el Index para las imagenes
@include respond(md) {
  .collage { gap: 0; }

  .collage-left  { transform: translateY(12px);  z-index: 1; margin-right: -12px; }
  .collage-center{ transform: translateY(-16px); z-index: 2; margin: 0 -12px; }
  .collage-right { transform: translateY(24px);  z-index: 1; margin-left: -12px; }
}
